body{
    background-color: green;
}
h1{
    color: white;
    background-color: red;
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    z-index: 3;
}
h2{
    border: 4px dotted white;
    border-radius: 15px;
    padding: 60px 90px 10px 90px;
    position: absolute;
    top: 30px;
    z-index: 2;
}
#img-light{
    width: 100vw;
    position: absolute;
    z-index: 0;
    opacity: 90%;
}
.boxes{
    display: flex;
    justify-content: center;
    position: relative;
}